@import './reset.css';

body {
    background-color:  #121212;
    padding-top: 30px;
}

/***********************
    Form
************************/

form {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

input[type='text'] {
    width: 400px;
    height: 40px;
    background-color: #606060;
}

input[type='button'] {
    width: 80px;
    margin-left: 20px;
    background-color: #439f43;
}

/***********************
    Contact grid
************************/

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    place-content: center;
    gap: 20px;
    padding-top: 20px;
}

.contact {
    width: 300px;
    height: max-content;
    background-color: #606060;
}

.contact p {
    color: #fff;
}

.contact:hover {
    border: 1px solid #ff0000;
    cursor: pointer;
}


/***********************
    Same properties
************************/

h2, input[type='button'], .validate {
    color: #fff;
}

h2, .validate {
    text-align: center;
}

input[type='text'], .contact {
    padding: 10px;
}

input, .contact {
    border-radius: 5px;
}

input, p {
    font-size: 15px;
}

input[type='text'], input[type='text']::placeholder {
    color: #d6d6d6;
}
